# Параметры приложения

# Секретный ключ (заполнить обязательно!)
# Например, можно сгенерировать командой:
# python -c 'import secrets; print(secrets.token_hex())'
SECRET=""

# Параметры для создания суперпользователя при запуске приложения
FIRST_SUPERUSER_EMAIL=""
FIRST_SUPERUSER_PASSWORD=""

# Параметры подключения к базе данных.
# По умолчанию SQLite3
# DATABASE_URL="sqlite+aiosqlite:///./fastapi.db"

# Параметры для создания отчетов в Google Docs
# Емайл пользователя, которому будут доступны отчеты
EMAIL="admin@example.com"

# Параметры из JSON-файла с ключом доступа к сервисному аккаунту
TYPE=""
PROJECT_ID=""
PRIVATE_KEY_ID=""
PRIVATE_KEY=""
CLIENT_EMAIL=""
CLIENT_ID=""
AUTH_URI=""
TOKEN_URI=""
AUTH_PROVIDER_X509_CERT_URL=""
CLIENT_X509_CERT_URL=""
