# Параметры приложения

# Секретный ключ (заполнить обязательно!)
# Например, можно сгенерировать командой:
# python -c 'import secrets; print(secrets.token_hex())'
SECRET=

# Параметры для создания суперпользователя при запуске приложения
FIRST_SUPERUSER_EMAIL='admin@example.com'
FIRST_SUPERUSER_PASSWORD='parol123'

# Параметры подключения к базе данных.
# По умолчанию SQLite3
# DATABASE_URL='sqlite+aiosqlite:///./fastapi.db'
